<li class="film">
    <div class="film__thumb">
        <img class="film__img" src="{{picture}}" alt="{{description}}" />
    </div>
    <div class="film__info">
        <h3 class="film__heading">{{filmName}}</h3>
        <p class="film__description">{{genre}} | <span class="film__year">{{year}}</span></p>
    </div>
</li>

 {{!-- для этого шаблона нужно picture, description, genre, year, filmName--}}