<li class="film" data-id="{{id}}">
    <div class="film__thumb">
        <img class="film__img" src="https://image.tmdb.org/t/p/original/{{poster_path}}"
            alt="{{title}}" />
        <div class="film-overlay">
            <a href="film-overlay__link">
                <p class="film-overlay__text">
                    Watch trailer
                    <img class="film-overlay__img" src="../src/images/svg/play_trailer_v2.svg" alt="trailer" />
                </p>
            </a>
        </div>
    </div>
    <div class="film__info">
        <h3 class="film__heading">{{title}}</h3>
        <p class="film__description">{{genre_ids}} | <span class="film__year">{{year}}</span></p>
    </div>
</li>