<div class="modal-card__img-thumb">
  <img class="modal-card__image"/>
</div>
<div class="modal-card__data">
  <h2 class="modal-card__data-heading">{{name}}</h2>
  <ul class="modal-card__list">
    <li class="modal-card__list-item">
      <p>Vote / Votes</p>
      <p class="modal-card__list-value">
        <b><span class="modal__card-list-rate">{{vote_average}}</span> / {{vote_count}}</b>
      </p>
    </li>
    <li class="modal-card__list-item">
      <p>Popularity</p>
      <p class="modal-card__list-value"><b>{{popularity}}</b></p>
    </li>
    <li class="modal-card__list-item">
      <p>Original Title</p>
      <p class="modal-card__list-value"><b>{{original_title}}</b></p>
    </li>
    <li class="modal-card__list-item">
      <p>Genre</p>
      <p class="modal-card__list-value"><b>{{genres_names}}</b></p>
    </li>
  </ul>
  <h3 class="modal-card__description-heading">About</h3>
  <p class="modal-card__description">
    {{overview}}
  </p>
</div>
